.App {
  font-family: sans-serif;
  text-align: center;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.lightblue {
  background-color: lightblue;
}

.black,
.white,
.lightblue {
  height: 60px;
  width: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bishop {
  height: 40px;
}
